<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.villim.villim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HouseDetailActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HouseDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PricePolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AmenityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HousePolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CancellationPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HostProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservationSuccessActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>